<header>
<nav class="light-blue lighten-1" role="navigation">
  <div class="nav-wrapper container"><a id="logo-container" href="/" class="brand-logo">
    <img src="/images/logo.png" height="56" alt="tobias"></a>
    <ul class="right hide-on-med-and-down">
      <li><a href="/articles">Articles</a></li>
      <li><a href="/users">Users</a></li>
      <li><a href="/articles/new">New Article</a></li>
      <li><a href="/users/<%= userId %>/edit">Welcome, <%= userName %> </a></li>
      <li><form action="/session?_method=DELETE" method="POST">
        <input type="submit" class="logoutbutton1" value="  Sign Out  ">
      </form></li>
    </ul>

    <ul id="nav-mobile" class="side-nav">
      <li><a href="/articles">Articles</a></li>
      <li><a href="/users">Users</a></li>
      <li><a href="/articles/new">New Article</a></li>
      <li><form action="/session?_method=DELETE" method="POST">
        <input type="submit" class="logoutbutton2" value="Sign Out">
      </form></li>
    </ul>
    <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
  </div>
</nav>
</header>
