Hello there! This is a list of articles
  <% articles.forEach(function (article, i) { %>
    <div class="article">
      <h3>
        <a href="/articles/<%= article._id %>"> <%= article.title %> </a>  <%= article.author %> <%= article.tags %> <br/>
      </h3>
    </div>
  <% }) %>
