<form action="/articles" method="post">
  <h2>Article Creation Page</h2>
  <input type='text'
         name='article[title]'
         placeholder="article title"><br/>
 <label>Article content goes here</label>
  <textarea name='article[content]'></textarea><br/>
  <!-- <input type='text' name='article[author]' placeholder="author_name"><br/> -->

  <input type='submit'>
</form>
