<form action="/articles" method="post">
  <h2>Article Creation Page</h2>
<label>Article title</label>
  <input type='text'
         name='article[title]'
         placeholder="article title"><br/>
 <!-- need to replace this with code that inserts the currently-logged-in user's ID -->
 <label>Author</label>
   <input type='text'
          name='article[author]'
          placeholder="author name"><br/>
 <label>Article content goes here</label>
  <textarea id='article-content'
            name='article[content]'
            placeholder="Remember, be nice!"></textarea><br/>
  <label>Tags</label><br/>
  <input type="checkbox" name="article[tags][]" id="funny" value="funny"/>
  <label for="funny">funny</label>
  <input type="checkbox" name="article[tags][]" id="true" value="true"/>
  <label for="true">true</label>
  <input type="checkbox" name="article[tags][]" id="sarcastic" value="sarcastic"/>
  <label for="sarcastic">sarcastic</label>
  <input type="checkbox" name="article[tags][]" id="sincere" value="sincere"/>
  <label for="sincere">sincere</label><br/>
  <input type='submit' class="btn-large blue">
</form>
<script src='/scripts/autosize.min.js'></script>
  <script>
     autosize(document.getElementById('article-content'));
  </script>
