<div class="card ">
  <div class="card-content black-text">
<h5>Write a new article</h5>
<form action="/articles" method="post">
  <div class="row">
        <div class="input-field col s6">
          <input type='text' id='title' class="validate"
                 name='article[published][title]'>
          <label for="title">Article Title</label>
        </div>
        <div class="input-field col s6">
          <input disabled id="authorName" type="text" name='article[authorName]'
          class="validate" value="<%= userName %>">
          <label for="authorName">Author Name</label>
        </div>
        <div class="input-field col s12">
           <textarea id='article-content'
                     name='article[published][content]'></textarea><br/>
           <label for="article-content">Article content</label>
        </div>
        <div class="input-field col s12">
          <input id="tags" type="text" name='article[published][tags]'>
          <label for="tags">tags, comma separated</label>
        </div>
        <input type='submit' class="btn-large blue">
      </div>
</form>
<script src='/scripts/autosize.min.js'></script>
  <script>
     autosize(document.getElementById('article-content'));
  </script>
  </div>
</div>
  <!-- <input type="checkbox" name="article[tags][]" id="funny" value="funny"/>
  <label for="funny">funny</label>
  <input type="checkbox" name="article[tags][]" id="true" value="true"/>
  <label for="true">true</label>
  <input type="checkbox" name="article[tags][]" id="sarcastic" value="sarcastic"/>
  <label for="sarcastic">sarcastic</label>
  <input type="checkbox" name="article[tags][]" id="sincere" value="sincere"/>
  <label for="sincere">sincere</label><br/> -->
