.splash_banner {
	width: 100%
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

main {
    flex: 1 0 auto;
  }

.center_funke {
	    display: flex;
	    align-items: center;
	    justify-content: center;
	}
#sign_up {
	margin: 0px 30px 0px 30px;
}

#sign_in {
	margin: 0px 30px 0px 30px;
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

.logoutbutton1{
	background:none;
  border:none;
  font-size:1em;
  color:white;
}

.logoutbutton2{
	background:none;
  border:none;
  font-size:1em;
  color:black;
}

button {
	background:none;
  border:none;
  color:white;
	text-decoration: none;
}

.formOverride {
	display: inline-block;
	margin: 30px 0px 30px 30px;
}*/

.peek {
	height:320px;
}

@media print {
   body {
      color: #000;
      background: #fff;
   }
	 nav, aside {
      display: none;
   }
	 body, article {
		 width: 100%;
		 margin: 0;
		 padding: 0;
	 }
	 @page {
		 margin: 2cm;
	 }
	 h2, h3 {
		 page-break-after: avoid;
	 }
	 img {
		 max-width: 100% !important;
	 }
	 article {
		 page-break-before: always;
	 }
	 ul, img {
		 page-break-inside: avoid;
	 }
}
