<div class="card ">
  <div class="card-content black-text">
<form action="/users/<%= user._id %>?_method=PATCH" method="post">
  <div class="input-field col s12">
    <input type="email" id="email"
           name="user[email]"
           value="<%= user.email %>">
   <label for="email">Email</label>
  </div>
  <div class="input-field col s12">
    <input type="text" id="name"
           name="user[name]"
           value="<%= user.name %>">
    <label for="name">Name</label>
  </div>
  <div class="input-field col s12">
    <input type="password" id="password"
           name="user[password]">
    <label for="password">Change password</label>
  </div>
  <div class="input-field col s12">
    <input type="password" id="passwordVerification"
           name="user[passwordVerification]">
    <label for="passwordVerification">Confirm changed password</label>
  </div>
  <button class="btn blue waves-effect waves-light" type="submit" name="action">Submit
    <i class="material-icons right">send</i>
  </button>
</form>
</div>
</div>
