<div class="card ">
  <div class="card-content black-text">
<h3>Edit your user profile</h3>
<form action="/users" method="post">
  <label>Email</label>
  <input type="email"
         name="user[email]"
         value="<%= user.email %>"><br/>
  <label>Name</label>
 <input type="text"
        name="user[name]"
        value="<%= user.name %>"><br/>
  <label>Password</label>
  <input type="password"
         name="user[password]"
         value="<%= user.password %>"><br/>
<label>Confirm Password</label>
  <input type="password"
         name="user[passwordVerification]"
         value="<%= user.password %>"><br/>
  <input type="submit" value="Submit Changes">
</form>
</div>
</div>
<hr>
[<a href="/session/new">Sign In Instead</a>]
