Hello there! This is a list of users
  <% users.forEach(function (user, i) { %>
    <div class="user">
      <h3>
        <a href="/users/<%= user._id %>"> <%= user.name %> </a> <br/>
      </h3>
    </div>
  <% }) %>
