<div class="container">
  <div class="row">
    <div class="col s12">

<% users.forEach(function (user, i) { %>
      <div class="card user">
        <div class="card-content black-text">
      <h5><a href="/users/<%= user._id %>"> <%= user.name %> </a></h5>
      </div>
    </div>
  <% }) %>

    </div>
  </div>
</div>
