<div class="card ">
  <div class="card-content black-text">
<h5>Create new user</h5>
<form action="/users" method="post">
  <label>Email</label>
  <input type="email"
         name="user[email]"
         placeholder="ineedsleep@codingtillmyeyesbleed.com"><br/>
  <label>Name</label>
 <input type="text"
        name="user[name]"
        placeholder="yes, your real name"><br/>
  <label>Password</label>
  <input type="password"
         name="user[password]"
         placeholder="please don't use 'password'. seriously."><br/>
<label>Confirm Password</label>
  <input type="password"
         name="user[passwordVerification]"
         placeholder="don't you just hate this?"><br/>
  <input type="submit" value="Sign Up">
</form>

<hr>
[<a href="/session/new">Sign In Instead</a>]
</div>
</div>
